body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    background-color: #1e293b;
    color: white;
    padding: 22px 0;
}

.navbar-container {
    max-width: 1200px;     /* ngatur “rapat ke tengah” */
    margin: 0 auto;        /* center */
    padding: 0 24px;       /* jarak kiri-kanan */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:180px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-bsk {
    width: 42px;
    height: 42px;
}

.navbar h2 {
    margin: 0;
    font-size: 18px;
}

.nav-menu a {
    margin-left: 20px;
    color: #e5e7eb;
    font-weight: bold;
    text-decoration: none;
}


/* CONTENT */
.container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 5px;
}

/* DASHBOARD MENU */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.menu-card {
    background: white;
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.2s;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu-card:hover {
    transform: translateY(-5px);
    background: #eef2ff;
}

.menu-icon {
    font-size: 32px;
    margin-bottom: 10px;
    display: block;
}
        
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
th {
    background: #f4f4f4;
}
.btn {
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #333;            
    font-size: 12px;
}
.btn-tambah{
    display:inline-block;
    margin-bottom:10px;
    padding:6px 12px;            
    color:#fff;
    text-decoration:none;
    border-radius:4px;
}
.nav-menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #ffffff;
    min-width: 180px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    display: none;
    flex-direction: column;
    padding: 8px 0;
    z-index: 999;
}

.dropdown-menu a {
    padding: 10px 16px;
    text-decoration: none;
    color: #111;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    background: #f1f5f9;
}

/* SHOW DROPDOWN */
.dropdown.active .dropdown-menu {
    display: flex;
}